[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.loc-list-header {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-style: italic;

    background-color: #428bca;
    border-bottom: 2px solid #b3b8bc;

    overflow: hidden;
    height: 100px;
}

.middle {
    text-align: center;
}

.outer-summary-container {
    display: table;
    height: 400px;
    width: 100%;
}

.middle-summary-container {
    display: table-cell;
    vertical-align: middle;
    height: 400px;
}

.inner-summary-container {
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

.summary-input-group {
    margin-top: 25px;
    width: 100%;
}

.summary-label {
    margin-top: 5px;
    float: left;
    width: 50%;

    text-align: center;
    font-weight: bold;
}

.summary-input {
    width: 50%;
}

.location-list-footer {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
}

/* Ng-Grid Styling */


.gridStyle {
    border: 2px solid rgb(0, 0, 0);
    height: 300px;
}

.ngTopPanel {
    background-color: #428bca !important;
    color: #FFFFFF
}

.ngRowFormat {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.ngRow.even {
    background-color: #C7EDF4 !important;
}

.ngRow.selected {
    background-color: #6D8084 !important;
}

.angular-google-map-container {
    border: 2px solid rgb(0, 0, 0);
    height: 400px;
}

/* Sticky Footer Styling */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -50px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 50px;
}

#footer {
    background-color: #428bca;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
